baseDir  = "$PWD"                                                                                                                                                                                                                       
binDir   = "$baseDir/bin"
quantDir = "$baseDir/quantification"

env {
    IDX_FILE   = "$baseDir/index.txt"
    IDX_FORMAT = "$baseDir/format.json"
}

process {
    
    //executor = 'sge'
    executor = 'local'
    queue    = 'rg-el6'

    $index.module          = 'gemtools/1.7.1-i3'
    $t_index.module        = 'gemtools/1.7.1-i3' 
    $mapping.module        = 'gemtools/1.7.1-i3'
    $bigwig.module         = 'bedtools/2.19.1'
    $contig.module         = 'bedtools/2.19.1'
    $quantification.module = 'flux/1.6.1'

}
