process {
    withName: fetch {
        time = 12.h
    }
    withName: index {
        cpus = 4
        memory = 31.GB
        time = 6.h
    }
    withName: txIndex {
        cpus = 1
        memory = 4.GB
        time = 6.h
    }
    withName: mapping {
        cpus = 8
        memory = 31.GB
        time = 6.h
    }
    withName: mergeBam {
        cpus = 8
        memory = 31.GB
        time = 6.h
    }
    withName: markdup {
        cpus = 8
        memory = 31.GB
        time = 6.h
    }
    withName: bamStats {
        cpus = 8
        memory = 15.GB
        time = 6.h
    }
    withName: bigwig {
        cpus = 4
        memory = 8.GB
        time = 6.h
    }
    withName: contig {
        cpus = 4
        memory = 8.GB
        time = 6.h
    }
    withName: quantification {
        cpus = 8
        memory = 31.GB
        time = 12.h
    }
}