// main script name
manifest.mainScript = 'grape-pipeline.nf'

// Process configuration
process {

    command = {
        cpus = task.cpus
        "${task.process}/${task.tool}${task.profile}"
    }

    profile = '' 

    errorStrategy = { params?.errorStrategy }
    
    tag = { if (view) id else species }

}
