// utility imports
import nextflow.trace.TraceFileObserver

// main script name
manifest.mainScript = 'grape-pipeline.nf'

// small input dataset for testing
params {
        index = "$baseDir/test-index.txt"
        genome = "$baseDir/data/genome.fa"
        annotation = "$baseDir/data/annotation.gtf"
}

// Docker is disabled by default and uses the following options when activated
docker {
    sudo = false
    fixOwnership = true
    runOptions = '-u $(id -u)'
}

// Singularity is disabled by default and uses autoMounts when enabled
singularity {
    autoMounts = true
}

// Enable trace by default
trace {
    enabled = true
    file = "${launchDir}/trace/${TraceFileObserver.DEF_FILE_NAME}"
}

process {
    container = 'grapenf/base'
}

// Pipeline profiles
profiles {

    // default profile - same as starrsem with sambamba sorting
    standard {
        params.fastaIndexTool = "samtools"
        params.mappingTool = "STAR"
        params.sortBamTool = "sambamba"
        params.mergeBamTool = "sambamba"
        params.markdupTool = "sambamba"
        params.inferExpTool = "RSeQC"
        params.bamStatsTool = "bamstats"
        params.bigwigTool = "STAR"
        params.contigTool = "RGCRG"
        params.quantificationTool = "RSEM"
    }

    // profile with STAR and RSEM
    starrsem {
        params.fastaIndexTool = "samtools"
        params.mappingTool = "STAR"
        params.sortBamTool = "sambamba"
        params.mergeBamTool = "sambamba"
        params.markdupTool = "sambamba"
        params.inferExpTool = "RSeQC"
        params.bamStatsTool = "bamstats"
        params.bigwigTool = "STAR"
        params.contigTool = "RGCRG"
        params.quantificationTool = "RSEM"
    }


    // profile with STAR and FLUX
    starflux {
        params.fastaIndexTool = "samtools"
        params.mappingTool = "STAR"
        params.sortBamTool = "sambamba"
        params.mergeBamTool = "sambamba"
        params.markdupTool = "sambamba"
        params.inferExpTool = "RSeQC"
        params.bamStatsTool = "bamstats"
        params.bigwigTool = "STAR"
        params.contigTool = "RGCRG"
        params.quantificationTool = "FLUX"
    }

    // profile with GEM and FLUX
    gemflux {
        params.fastaIndexTool = "samtools"
        params.mappingTool = "GEM"
        params.sortBamTool = "sambamba"
        params.mergeBamTool = "sambamba"
        params.markdupTool = "sambamba"
        params.inferExpTool = "RSeQC"
        params.bamStatsTool = "bamstats"
        params.bigwigTool = "RGCRG"
        params.contigTool = "RGCRG"
        params.quantificationTool = "FLUX"
    }

    // same as starrsem profile with an additional step to mark duplicates
    markdup {
        params.markDuplicates = true

        params.fastaIndexTool = "samtools"
        params.mappingTool = "STAR"
        params.sortBamTool = "sambamba"
        params.mergeBamTool = "sambamba"
        params.markdupTool = "sambamba"
        params.inferExpTool = "RSeQC"
        params.bamStatsTool = "bamstats"
        params.bigwigTool = "STAR"
        params.contigTool = "RGCRG"
        params.quantificationTool = "RSEM"
    }

    // same as starrsem profile with an additional step to remove duplicates
    rmdup {
        params.removeDuplicates = true

        params.fastaIndexTool = "samtools"
        params.mappingTool = "STAR"
        params.sortBamTool = "sambamba"
        params.mergeBamTool = "sambamba"
        params.markdupTool = "sambamba"
        params.inferExpTool = "RSeQC"
        params.bamStatsTool = "bamstats"
        params.bigwigTool = "STAR"
        params.contigTool = "RGCRG"
        params.quantificationTool = "RSEM"
    }

    // IHEC profile
    ihec {
        params.markDuplicates = true

        params.fastaIndexTool = "samtools"
        params.mappingTool = "STAR"
        params.sortBamTool = "sambamba"
        params.mergeBamTool = "sambamba"
        params.markdupTool = "sambamba"
        params.inferExpTool = "RSeQC"
        params.bamStatsTool = "bamstats"
        params.bigwigTool = "STAR"
        params.contigTool = "RGCRG"
        params.quantificationTool = "RSEM"

        params.rsemVersion = "1.2.1"
        params.container = "grapenf/ihec:latest"

    }

    // Profile for using IHEC test dataset (must be used in conjunction with another computing profile)
    "ihec-data" {
        // IHEC test dataset (MCF10A) and references
        params.index = "$baseDir/ihec-index.txt"
        params.genome = 'http://ftp.ebi.ac.uk/pub/databases/blueprint/reference/20150407_reference_files/GRCh38_no_alt_analysis_set.201503031.fa.gz'
        params.annotation = 'ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_29/gencode.v29.annotation.gtf.gz'

        // Computing resources
        includeConfig "$baseDir/config/resources/ihec.config"
    }

    // Encode 3 profile with STAR and RSEM updated versions and STAR gene counts
    encode3 {
        params.mappingSortTool = "sambamba"

        params.fastaIndexTool = "samtools"
        params.mappingTool = "STAR"
        params.sortBamTool = "sambamba"
        params.mergeBamTool = "sambamba"
        params.markdupTool = "sambamba"
        params.inferExpTool = "RSeQC"
        params.bamStatsTool = "bamstats"
        params.bigwigTool = "STAR"
        params.contigTool = "RGCRG"
        params.quantificationTool = "RSEM"

        params.starVersion = '2.5.1b'
        params.rsemVersion = '1.2.23'
    }

    gtex {
        params.fastaIndexTool = "samtools"
        params.mappingTool = "STAR"
        params.sortBamTool = "sambamba"
        params.mergeBamTool = "sambamba"
        params.markdupTool = "sambamba"
        params.inferExpTool = "RSeQC"
        params.bamStatsTool = "bamstats"
        params.bigwigTool = "STAR"
        params.contigTool = "RGCRG"
        params.quantificationTool = "RSEM"

        params.starVersion = 'v2.5.3a'
        params.rsemVersion = '1.3.0'

        params.annotation = "https://storage.googleapis.com/gtex-resources/GENCODE/gencode.v26.GRCh38.genes.collapsed_only.gtf"
        params.genome = "https://storage.googleapis.com/gtex-resources/references/Homo_sapiens_assembly38_noALT_noHLA_noDecoy_ERCC.fasta"
    }
}
