// main script name
manifest.mainScript = 'grape-pipeline.nf'

// Process configuration
process {

    command = {
        cpus = task.cpus
        "${task.process}/${task.tool}${task.profile}"
    }

    profile = '' 

    errorStrategy = { params?.errorStrategy }
    
    tag = { (id ?: species) + "-${task.tool}-${task.version}"}

    container = { "grape/${task.process.toLowerCase()}:${task.tool.toLowerCase()}-${task.version}" }

    $index {
    	container = { "grape/mapping:${task.tool.toLowerCase()}-${task.version}" }
    }

    $t_index {
    	container = { "grape/quantification:${task.tool.toLowerCase()}-${task.version}" }
    }

}

profiles {
    standard {
        // default includes
        includeConfig "config/fastaIndex/SAMtools.config"
        includeConfig "config/mapping/GEM.config"
        includeConfig "config/mergeBam/SAMtools.config"
        includeConfig "config/inferExp/RSeQC.config"
        includeConfig "config/bigwig/RGCRG.config"
        includeConfig "config/contig/RGCRG.config"
        includeConfig "config/quantification/FLUX.config"
    }
}
