//Tools configuration
toolchain  = 'goolf-1.4.10-no-OFED'
python     = 'Python-2.7.3'

//Modules
modules = [
    GEM: [ name: 'GEMtools', version: '1.7.1', suffix: "-${python}" ],
    STAR: [ version: '2.4.0j' ],
    RSEM: [ version: '1.2.15' ],
    SAMtools: [ version: '0.1.19' ],
    pigz: [ version: '2.3.1' ],
    RSeQC: [ version: '2.3.9', suffix: "-${python}" ],
    KentUtils: [ version: '308' ],
    pysam: [ version: '0.8.0', suffix: "-${python}" ],
    BEDTools: [ version: '2.19.1' ],
    BamTools: [ version: '2.3.1' ],
    toolchain: "-${toolchain}"
]

// Process configuration
process {

    beforeScript = 'module purge'

    executor = 'sge'
    queue    = 'rg-el6,long-sl65'
    penv = 'smp'

    version = { modules[task.tool].version }    
    modules = { [task.tool] }
    module = { 
        mods = []
        task.modules.each { mods << "${modules[it]?.name ?: it}/${modules[it].version}${modules.toolchain}${modules[it]?.suffix ?: ''}" } 
        mods.join(':')
    }

    $mapping {
        modules = [tool, 'pigz', 'SAMtools']
    }
    $inferExp {
        modules = [tool, 'pysam', 'KentUtils']
    }
    $bigwig {
        modules = ['SAMtools', 'STAR', 'KentUtils']
    }
    $contig {
        modules = ['SAMtools', 'BEDTools', 'BamTools', 'KentUtils']
    }

}
