includeConfig "$baseDir/config/fastaIndex/${params.fastaIndexTool}.config"
includeConfig "$baseDir/config/mapping/${params.mappingTool}.config"
includeConfig "$baseDir/config/mergeBam/${params.mergeBamTool}.config"
includeConfig "$baseDir/config/markdup/${params.markdupTool}.config"
includeConfig "$baseDir/config/inferExp/${params.inferExpTool}.config"
includeConfig "$baseDir/config/bamStats/${params.bamStatsTool}.config"
includeConfig "$baseDir/config/bigwig/${params.bigwigTool}.config"
includeConfig "$baseDir/config/contig/${params.contigTool}.config"
includeConfig "$baseDir/config/quantification/${params.quantificationTool}.config"

// Process configuration
process {

    container = 'grapenf/base'
    errorStrategy = 'ignore'    

    withName: 'fastaIndex' {
        container = "grapenf/fastaindex:${params.fastaIndexTool.toLowerCase()}-${params.fastaIndexToolVersion}"
    }

    withLabel: 'mapping' {
        container = "grapenf/mapping:${params.mappingTool.toLowerCase()}-${params.mappingToolVersion}"
    }

    withName: 'sortBam' {
        container = "grapenf/mergebam:${params.mergeBamTool.toLowerCase()}-${params.mergeBamToolVersion}"
    }
    
    withName: 'mergeBam' {
        container = "grapenf/mergebam:${params.mergeBamTool.toLowerCase()}-${params.mergeBamToolVersion}"
    }

    withName: 'markdup' {
        container = "grapenf/markdup:${params.markdupTool.toLowerCase()}-${params.markdupToolVersion}"
    }

    withName: 'inferExp' {
        container = "grapenf/inferexp:${params.inferExpTool.toLowerCase()}-${params.inferExpToolVersion}"
    }

    withName: 'bamStats' {
        container = "grapenf/bamstats:${params.bamStatsTool.toLowerCase()}-${params.bamStatsToolVersion}"
    }
    
    withName: 'bigwig' {
        container = "grapenf/bigwig:${params.bigwigTool.toLowerCase()}-${params.bigwigToolVersion}"
    }
    
    withName: 'contig' {
        container = "grapenf/contig:${params.contigTool.toLowerCase()}-${params.contigToolVersion}"
    }

    withLabel: 'quantification' {
        container = "grapenf/quantification:${params.quantificationTool.toLowerCase()}-${params.quantificationToolVersion}"
    }

    withName: 'kallisto_chrom_length' {
        container = "kallisto:latest"
    }

    withName: 'kallisto_prep_gtf' {
        container = "kallisto:latest"
    }

    withName: 'kallisto_index' {
        container = "kallisto_index:latest"
    }

    withName: 'kallisto_quantification' {
        container = "kallisto_index:latest"
    }

}