// Process configuration
process {
    $quantification {
        cpus = 2
        memory = '31G'
        time = '24h'
        ext {
            tool = 'FLUX'
            version = '1.6.1'
            profile = { '-' + readStrand }
            mode = 'Genome'
            fileType = 'gtf'
        }
    }
}
