// Process configuration
process {
    withName: 'txIndex' {
        ext {
            tool = 'RSEM'
            version = '1.2.21'
            profile = { genomeCompressed + annoCompressed }
        }
    }
    
    withName: 'quantification' {
        ext {
            tool = 'RSEM'
            version = '1.2.21'
            profile = { '-' + (pairedEnd ? 'Paired-End' : 'Single-End') + '-' + readStrand }
            mode = 'Transcriptome'
            fileType = 'tsv'
        }
    }
}
