// Process configuration
process {
    $t_index {
        ext {
            tool = 'RSEM'
            version = '1.2.21'
        }
    }
    $quantification {
        ext {
            tool = 'RSEM'
            version = '1.2.21'
            profile = { '-' + (pairedEnd ? 'Paired-End' : 'Single-End') + '-' + readStrand }
            mode = 'Transcriptome'
            fileType = 'tsv'
        }
    }
}
