// Process configuration
process {

    $contaminantIndex {
        tool = 'STAR'
        version = '2.4.0j'
        cpus = 4
        memory = '62G'
        time = '24h'
        container = { "grape/mapping:${task.tool.toLowerCase()}-${task.version}" }
    }
    $contaminantMapping {
        tool = 'STAR'
        version = '2.4.0j'
        profile = { "-${task.version.split("\\.")[0..1].join(".")}" }
        cpus = 8
        memory = '62G'
        time = '48h'
        container = { "grape/mapping:${task.tool.toLowerCase()}-${task.version}-alpine" }
        ext {
            matchNmin = 0
            matchNminOverLread = 0.66
            scoreMinOverLread = 0.66
            maxMultimaps = 10
            maxMismatches = 2
        }
    }

}
