//Strand-view mapping for bigwig step
def bwStrandViews = [
    NONE: ['RawSignal'],
    MATE1_SENSE: ['MinusRawSignal', 'PlusRawSignal'],
    MATE2_SENSE: ['MinusRawSignal', 'PlusRawSignal']
]

// Process configuration
process {

    $bigwig {
        tool = 'RGCRG'
        version = '0.1'
        profile = { '-' + readStrand }
        views = {
            bwStrandViews[readStrand]
        }
        cpus = 4
        memory = '15G'
        time = '12h'
        container = { "grape/contig:${task.tool}-${task.version}" }
    }

}
