//Strand-view mapping for bigwig step
def bwStrandViews = [
    NONE: ['RawSignal'],
    SENSE: ['MinusRawSignal', 'PlusRawSignal'],
    ANTISENSE: ['MinusRawSignal', 'PlusRawSignal'],
    MATE1_SENSE: ['MinusRawSignal', 'PlusRawSignal'],
    MATE2_SENSE: ['MinusRawSignal', 'PlusRawSignal']
]

// Process configuration
process {
    $bigwig {
        cpus = 4
        memory = '15G'
        time = '12h'
        container = { "grape/contig:${task.ext.tool.toLowerCase()}-${task.ext.version}" }
        ext {
            tool = 'RGCRG'
            version = '0.1'
            profile = { '-' + readStrand }
            views = {
                bwStrandViews[readStrand]
            }
        }
    }
}
