//Strand-view mapping for bigwig step
def bwStrandViews = [
    NONE: ['RawSignal','MultipleRawSignal'],
    SENSE: ['MinusRawSignal', 'PlusRawSignal', 'MultipleMinusRawSignal','MultiplePlusRawSignal'],
    ANTISENSE: ['MinusRawSignal', 'PlusRawSignal', 'MultipleMinusRawSignal','MultiplePlusRawSignal'],
    MATE1_SENSE: ['MinusRawSignal', 'PlusRawSignal', 'MultipleMinusRawSignal','MultiplePlusRawSignal'],
    MATE2_SENSE: ['MinusRawSignal', 'PlusRawSignal', 'MultipleMinusRawSignal','MultiplePlusRawSignal']
]

// Process configuration
process {
    $bigwig {
        cpus = 4
        memory = '15G'
        time = '12h'
        container = { "grape/mapping:${task.ext.tool.toLowerCase()}-${task.ext.version}" }
        ext {
            tool = 'STAR'
            version = '2.4.0j'
            profile = { '-' + readStrand }
            views = {
                bwStrandViews[readStrand]
            }
        }
    }
}
