params.bigwigTool = params.bigwigTool ?: 'STAR'
params.bigwigToolVersion = params.bigwigToolVersion ?: '2.4.0j'
params.bigwigViews = [
    NONE: ['RawSignal','MultipleRawSignal'],
    SENSE: ['MinusRawSignal', 'PlusRawSignal', 'MultipleMinusRawSignal','MultiplePlusRawSignal'],
    ANTISENSE: ['MinusRawSignal', 'PlusRawSignal', 'MultipleMinusRawSignal','MultiplePlusRawSignal'],
    MATE1_SENSE: ['MinusRawSignal', 'PlusRawSignal', 'MultipleMinusRawSignal','MultiplePlusRawSignal'],
    MATE2_SENSE: ['MinusRawSignal', 'PlusRawSignal', 'MultipleMinusRawSignal','MultiplePlusRawSignal']
]
