// Process configuration
process {

    $index {
        tool = 'GEM'
        cpus = 4
        memory = '62G'
        time = '24h'
    }
    $mapping {
        tool = 'GEM'
        readGroup = { readGroupList.collect { it.join("=") }.join(",") }
        profile = { pairedEnd ? '-Paired-End' : '-Single-End' }
        modules = [tool, 'pigz', 'SAMtools']
        cpus = 8
        memory = '62G'
        time = '48h'
    }

}
