// Process configuration
process {
    withName: 'index' {
        ext {
            tool = 'GEM'
            version = '1.7.1'
            profile = { genomeCompressed + annoCompressed }
        }
    }

    withName: 'mapping' {
        ext {
            tool = 'GEM'
            version = '1.7.1'
            readGroup = { readGroupList.collect { it.join("=") }.join(",") }
            profile = { "-${task.ext.version.split("\\.")[0..1].join(".")}" + (pairedEnd ? '-Paired-End' : '-Single-End') }
        }
    }
}
