// Process configuration
process {
    ext {
        tool = 'GEM'
        version = '1.7.1'
    }
    $index {
        cpus = 4
        memory = '62G'
        time = '24h'
    }
    $mapping {
        cpus = 8
        memory = '62G'
        time = '48h'
        ext {
            readGroup = { readGroupList.collect { it.join("=") }.join(",") }
            profile = { "-${task.ext.version.split("\\.")[0..1].join(".")}" + (pairedEnd ? '-Paired-End' : '-Single-End') }
        }
    }
}
