// Process configuration
process {
    ext {
        tool = 'STAR'
        version = '2.4.0j'
    }
    $index {
        cpus = 4
        memory = '62G'
        time = '24h'
    }
    $mapping {
        cpus = 8
        memory = '62G'
        time = '48h'
        ext {
            readGroup = { readGroupList.collect { it.join(":") }.join(" ") }
            profile = { "-${task.version.split("\\.")[0..1].join(".")}" + (task.sort ? "-"+task.sort : '') + (quantificationMode ? "-"+quantificationMode : '') + (params.addXs ? "-XS" : '') }
        }
    }
}
