// Process configuration
process {

    $index {
        tool = 'STAR'
        version = '2.4.0j'
        cpus = 4
        memory = '62G'
        time = '24h'
    }
    $mapping {
        tool = 'STAR'
        version = '2.4.0j'
        readGroup = { readGroupList.collect { it.join(":") }.join(" ") }
        profile = { "-${task.version.split("\\.")[0..1].join(".")}" + (task.sort ? "-"+task.sort : '') + (quantificationMode ? "-"+quantificationMode : '') + (params.addXs ? "-XS" : '') }
        cpus = 8
        memory = '62G'
        time = '48h'
    }

}
